doctype html
html(lang="it")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title GreenFuture | #{title}
    link(rel="stylesheet", href="/stile/stile.css")
  body
    header
      h1 GreenFuture
      nav
        a(href="/") Home
        a(href="/obiettivi") Obiettivi 2030
        a(href="/progetti") Progetti
        a(href="/contatti") Contatti
    main
      block content
    footer
      | © 2025 GreenFuture - Progetto scolastico sullo sviluppo sostenibile
